<%= form_for(@smartphone) do |f| %>
    <% if @smartphone.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@smartphone.errors.count, "error") %> prohibited this smartphone from being saved:</h2>

          <ul>
            <% @smartphone.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :phone %>
      <br/>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :image_url %>
      <br/>
      <%= f.text_field :image_url %>
    </div>
    <div class="field">
      <%= f.label :price %>
      <br/>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :techspec %>
      <br/>
      <%= f.text_area :techspec %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
